{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Icons": "./src/assets/icons"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": true,
            "preprocess": false // Debug styled only on dev mode
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        "transform-react-remove-prop-types",
        "babel-plugin-jsx-remove-data-test-id",
        [
          "styled-components",
          {
            "displayName": false,
            "ssr": true
          }
        ]
      ]
    }
  }
}

